/*
https://stackoverflow.com/questions/56577358/how-to-get-rid-of-gap-between-input-text-and-button-on-all-devices
*/

.search-box {
  /* background-color: var(--dark-purple); */
  margin: auto;
  text-align: center;
  width: fit-content;
  /* width: var(--good-width); */
  /* border-radius: 8px; */
  width: 800px;
  display: flex;
  /* margin-top: 100px; */
  /* border: 2px solid yellow; */
}

/* if you dont put display: flex in search-box they wont align, refer the article on top*/

.search-input {
  background: transparent;
  background-color: var(--dark);
  width: 80%;
  height: 60px;
  border: 2px solid var(--dark);
  border-right: none;
  color: white;
  padding: 20px;
  /* border: none; */
  font-family: "Montserrat";
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: silver;
}

/* remove default input white color border which occurs on click */

.search-button {
  /* background: var(--light-purple); */
  background-color: var(--dark);
  width: 10%;
  height: 60px;

  border: 2px solid var(--dark);
  border-left: none;
  color: white;
  font-family: var(--desc-font);

  padding: 0;
  outline: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.cross-button {
  background-color: var(--dark);
  width: 10%;
  height: 60px;
  border: none;
  outline: none;
  border-top: 2px solid var(--dark);
  border-bottom: 2px solid var(--dark);
  color: white;
  font-family: var(--desc-font);
}

.search-icon {
  background-color: var(--dark);
  width: 40px;
  height: 40px;
  /* margin: 5px; */
  margin: auto;
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
  /* display: inline; */
}

.cross-icon {
  /* background-color: var(--light-purple); */
  width: 30px;
  height: 30px;
  /* width: 100%;
  height: 100%; */
  /* margin: 5px; */
  margin: auto;
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
  /* display: inline; */
}

.icon-text {
  line-height: 40px;
  color: white;
  /* display: flex; */
}

.cross-text {
  line-height: 30px;
  /* line-height: 60px; */
}

.search-button:active {
  /* border: 2px solid white; */
}

/* this gives us a one second click effect, can be used when posting something */

.search-button:hover {
  color: black;
}

.icon-text:hover {
  color: var(--dark-purple);
}

/* this gives the same effect on hovering upon the bootstrap navbar signout button  */

@media (max-width: 992px) and (min-width: 600px) {
  .search-box {
    width: 70%;
  }

  .search-input {
    width: 78%;
  }

  .search-button {
    width: 12%;
  }

  .cross-button {
    width: 10%;
  }
}

@media (max-width: 600px) and (min-width: 500px) {
  .search-box {
    width: 90%;
  }

  .search-input {
    width: 78%;
  }

  .search-button {
    width: 12%;
  }

  .cross-button {
    width: 10%;
  }
}

@media (max-width: 500px) {
  .search-box {
    width: 90%;
  }

  .search-input {
    width: 70%;
  }

  .search-button {
    width: 15%;
  }

  .cross-button {
    width: 15%;
  }
}
